@using Microsoft.AspNetCore.Mvc.Localization
@using ABPvNextOrangeAdmin.Localization
@inject IHtmlLocalizer<ABPvNextOrangeAdminResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
